.cards
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap 
    .vs-card-content
        width: calc(100% / 3 - 20px) 
        margin: 8px 10px
        @media screen and ( max-width: 768px )
            width: calc(100% / 2 - 20px) 
            
 