@import "tailwindcss";

:root {
  --vs-primary: 25, 91, 255;
  --vs-text: 44, 62, 80;
  --vs-background: 255, 255, 255;
  --vs-gray-1: 244, 247, 248;
  --vs-gray-2: 228, 233, 236;
  --vs-danger: 234, 84, 85;
  --vs-shadow-opacity: .05;
}

@media (prefers-color-scheme: dark) {
  :root {
    --vs-primary: 247, 250, 255;
    --vs-text: 255, 255, 255;
    --vs-background: 29, 29, 29;
    --vs-gray-1: 38, 38, 38;
    --vs-gray-2: 55, 55, 55;
    --vs-shadow-opacity: .18;
  }
}
